
target
.settings
.project
.classpath
.idea
.vscode
*.swp
.typings
*.iml
testUpload.docx
downloadedFile.docx

velocity.log
pom.xml.versionsBackup
application/config
application/data/tomcat
application/logs
application/work
application/tmp
application/local
